html{
    height: 100%;
}
body {
    background: #151515;  /* fallback for old browsers */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    
}
.flex5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}

.form {
    max-width: calc(100vw - 40px);
    width: 500px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #fff;
    margin: 3% auto;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 5px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 10px 100px rgba(0,0,0,0.12);
 
}
form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0  ;
    background: #B02B2B;
    
}
.form h2 {
    margin: 18px 0;
    padding-bottom: 10px;
    width: 210px;
    color: #808185;
    font-size: 22px;
    border-bottom: 3px solid #CE6369;
    font-weight: 600;
    margin-bottom: 30px;
}
input {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #bebed2;
    transition: all .3s;
}
.form p:before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 13px;
    color: #5a5a5a;
    float: left;
    width: 40%;
    transition: all .3s;
}
/* button {
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
} */
.button1:hover {
    background: #78788c;
    color: #fff;
}
.tright{
    text-align: right;
}
.ui-menu{
    max-height: 150px;
    overflow: auto;
}
.ui-menu .ui-menu-item{
    padding:5px;
    font-size: 14px;
}
.relative{
    position: relative;
}
.relative i.fa:before{
    color: #444;
    padding: 10px;
    position: absolute;
    left: -3px;
    text-align: center;
}

.relative i.fa{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    width: 0;
    height: 0;
    z-index: 99;
    border-left: 20px solid transparent;
    border-right: 30px solid #ccc;
    border-bottom: 34px solid #ccc;
    transition: all 0.15s ease-in-out;

}
.form-control:focus{
    border-color: #1e439b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(30, 102, 195);
}
.relative input:focus + i.fa{
    border-left: 20px solid transparent;
    border-right: 30px solid #1e439b;
    border-bottom: 34px solid #1e439b;
}
.relative input:focus + i.fa:before{
    color: #fff;
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child){
    border-radius: 0 4px 4px 0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}

/* --- Thanks Message Popup --- */
.thanks{
    max-width: calc(100vw - 40px);
    width: 200px;
    height: auto;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all .3s;
}
.thanks h4,
.thanks p{
    color: #fff;
    text-align: center;
}

/* --- Animated Buttons --- */
.movebtn{
    background-color: transparent;
    display:inline-block;
    width:100px;
    background-image: none;
    padding: 8px 10px;
    margin-bottom:20px;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
}
.movebtnre {
    border: 2px solid #ff5501;
    box-shadow: inset 0 0 0 0 #ff5501;
    color:#ff5501;
}
.movebtnsu {
    border: 2px solid #1e439b;
    box-shadow: inset 0 0 0 0 #1e439b;
    color: #1e439b;
}
.movebtnre:focus,
.movebtnre:hover,
.movebtnre:active {
    background-color: transparent;
    color: #FFF;
    border-color: #ff5501;
    box-shadow: inset 96px 0 0 0 #ff5501;
}
.movebtnsu:focus,
.movebtnsu:hover,
.movebtnsu:active {
    background-color: transparent;
    color: #FFF;
    border-color: #1e439b;
    box-shadow: inset 96px 0 0 0 #1e439b;
}

@media only screen and (max-width: 1200px) {

       .flex5{
        margin-left: 30%;
       }
    .form {
        max-width: 400px;
    }
}

@media only screen and (max-width: 900px) {
    .form {
        max-width: 300px;
    }
    .flex5{
        margin-left: 20%;
       }
}

@media only screen and (max-width: 400px) {
    .flex5{
        margin-left: 15%;
       }
    .form {
        max-width: 250px;
        padding: 20px;
    }
    .form h2 {
        font-size: 18px;
    }
    .relative i.fa {
        border-left: 15px solid transparent;
        border-right: 20px solid #ccc;
        border-bottom: 24px solid #ccc;
    }
}